body {
  margin: 0 auto;
  max-width: 900px;
  font-family: sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li:nth-child(n+2)::before {
  content: '>';
  padding: 0 .2em;
}

dt {
  font-weight: bold;
  margin: 1em 0 .3em;
}

dd ol, dd ul {
  margin: .5em 0;
}

code {
  background-color: #eee;
  padding: .1em;
}

pre {
  background-color: #eee;
}

footer {
  margin-top: 1em;
  padding: .5em;
  border: solid black;
  border-width: thin 0 0 0;
  text-align: center;
}